.PageHeader {
  background-color: #000;
  height: 3vh;
  width: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  justify-content: space-between;
}

.addButton {
  color: #00bb00;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}