.Card {
  height: 22px;
  width: 10vw;
  background-color: #fafaef;
  color: #333;
  text-align: left;
  border-bottom: 1px solid #333;
}

.Card .title {
  padding-top: 4px;
  padding-left: 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: serif, monospace;
  
}

.Card .synopsis {
  font-family: sans-serif, serif;
  font-size: 14px;
  padding: 6px;
}

