.Sidebar {
  background-color: #191919;
  
  height: 93vh;
  width: 10vw;

  box-sizing: border-box;
  padding: 12px;
  
  font-size: 14px;
}

li {
  margin-bottom: 6px;
}

li:hover {
  cursor: pointer;
  color: #009900;
}

li.active {
  background-color: #333;
}

li.active:before {
  content: "> ";
}