.Sidebar {
  background-color: #191919;
  
  height: 93vh;
  width: 10vw;

  box-sizing: border-box;
  padding: 12px;
  
  font-size: 14px;
}

li {
  margin-bottom: 6px;
}

a {
  padding-left: 6px;
}

a.active {
  font-weight: bold;
  border-left: 3px solid #00dddd;
  padding-left: 3px;
}